@import-normalize;
@import "./helper.scss";
* {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
}
.icon {
  width: 32px;
  height: 32px;
}
button {
  font-family: inherit;
  border: none;
}
:focus {
  outline: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
